hr {
  height: 1px;
  border: none;
  border-top: 1px solid rgba(0, 21, 41, .08);
  margin: 20px auto;
}

.focusing {
  outline: none;
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.el-breadcrumb {
  font-size: 14px;
  line-height: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}


.m-t-0 {
  margin-top: 0px;
}

.empty-container {
  border: 1px solid #EBEEF5;
  padding: 20px;
}

.el-button + .el-button {
  //margin-right: 10px;
  margin-left: 0px;
  //margin-top: 5px;
}

.el-button {
  margin: 1px 10px 1px 0px;
  min-width: 60px;
}

.el-form-item {
  margin-bottom: 10px !important;
}

