.focusing {
  outline: none;
}

.m-l-20 {
  margin-left: 20px;
}

.el-breadcrumb {
  font-size: 14px;
  line-height: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

hr {
  height: 1px;
  border: none;
  border-top: 1px solid rgba(0, 21, 41, .08);
  margin: 20px auto;
}

.empty-container {
  border: 1px solid #EBEEF5;
  padding: 20px;
}


