@media (min-width: 320px) {
  html{
    font-size: 42.7px;
  }
}
@media (min-width: 420px) {
  html{
    font-size: 56px;
  }
}
@media (min-width: 540px) {
  html{
    font-size: 72px;
  }
}
@media (min-width: 640px) {
  html{
    font-size: 86px;
  }
}
@media (min-width: 750px) {
  html{
    font-size: 100px;
  }
}

@media (min-width: 1280px) {
  html{
    font-size: 170px;
  }
}

@media (min-width: 1440px) {
  html{
    font-size: 192px;
  }
}
@media (min-width: 1920px) {
  html{
    font-size: 256px;
  }
}
